<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Login</h2>

        <div class="well">
            <form role="form" ng-submit="user.login()">
                <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

                <div class="form-group">
                    <label for="login__email">Email</label>
                    <input type="text" class="form-control" id="login__email" ng-model="user.email"/>
                </div>

                <div class="form-group">
                    <label for="login__password">Password</label>
                    <input type="password" class="form-control" id="login__password" ng-model="user.password"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>