<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Register</h2>

        <div class="well">
            <form role="form" ng-submit="user.register()">
                <div class="form-group">
                    <label for="register__email">Email</label>
                    <input type="email" class="form-control" id="register__email" ng-model="user.email"/>
                </div>

                <div class="form-group">
                    <label for="register__username">Username</label>
                    <input type="text" class="form-control" id="register__username" ng-model="user.username"/>
                </div>

                <div class="form-group">
                    <label for="register__password">Password</label>
                    <input type="password" class="form-control" id="register__password" ng-model="user.password"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>