<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <base href="/"/>

    {% include 'stylesheets.html' %}
</head>

<body layout="column" layout-fill>


{% include 'toolbar.html' %}

<md-content>
    <div class="ng-view">

    </div>
</md-content>


{% include 'javascripts.html' %}

</body>
</html>