
{% load compress %}
{% load staticfiles %}

{% compress js %}

    <script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-material-design/dist/js/material.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-material-design/dist/js/ripples.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/underscore/underscore.js' %}"></script>

    <script type="text/javascript" src="{% static 'lib/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-animate/angular-animate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-aria/angular-aria.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-material/angular-material.min.js' %}"></script>




    <script type="text/javascript" src="{% static 'lib/ngDialog/js/ngDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/snackbarjs/dist/snackbar.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/app.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/app.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/app.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/utils/utils.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/utils/constant.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/utils/snackbar.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/components/main/main.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/components/main/main.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/components/main/main.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/components/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/components/layout/layout.controller.js' %}"></script>

{% endcompress %}