{% load compress %}
{% load staticfiles %}

{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-material-design/dist/css/material.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-material-design/dist/css/ripples.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/angular-material/angular-material.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/ngDialog/css/ngDialog.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/ngDialog/css/ngDialog-theme-default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/dist/snackbar.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/themes-css/material.css' %}" />


    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/styles.css' %}" />
{% endcompress %}