<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <span>APP</span>
        <span flex></span>
        <md-button>
            Right Bar Button
        </md-button>
    </div>
</md-toolbar>